.DS_Store

# python files
**/__pycache__
env

# project specific ignores
logs/
config.yaml

# ignore all machine_type recipe and session files
app/recipes/*/*
app/sessions/*/*/*
app/recipes/*.zip
app/sessions/*.zip

# allow committed snapshots of recipes
!recipes_snapshot/

scripts/docker/nginx/certs/*

# terraform
terraform/.terraform
terraform/*.tfstate*

# ignore Visual Studio Code files
.vscode